@{
    ViewData["Title"] = "Privacy Policy";
}



<div class="container mt-5">
    <h1 class="page-section-heading text-center text-secondary mb-0 titleWiki animate__animated animate__rubberBand animate__delay-1s">@ViewData["Title"]</h1>
</div>

<p class="text-center">
    Use this page to detail your site's privacy policy.
</p>